:root {
    --bg: #ecf8f8;
    --text: #355070;
    --button: #fce9b3;
    --buttontext: #ca5310;
    --errortext: #d48aca;
    --card: #f5f6f7;
    --field: #ffffff;
    --pickaccent: #f7edf3;
    --stepcard: #ffffff;
    --allflavorsbg: #ffffff;
}

html[data-theme="dark"] {
    --bg: #355070;
    --text: #ecf8f8;
    --button: #ca5310;
    --buttontext: #fce9b3;
    --errortext: #111111;
    --card: #355070;
    --field: #011a38;
    --pickaccent: #f7edf3;
    --stepcard: #011a38;
    --allflavorsbg: #ecf8f8
}

body {
    background: var(--bg);
    color: var(--text);
}