:root {
    --bg: #ecf8f8;
    --text: #355070;
    --button: #fce9b3;
    --buttontext: #ca5310;
    --errortext: #d48aca;
    --card: #ffffff;
    --stepcard: #f7edf3;
    --border: #dddddd;
}

html[data-theme="dark"] {
    --bg: #111111;
    --text: #f5f5f5;
    --button: #1a1a1a;
    --buttontext: #111111;
    --errortext: #111111;
    --border: #333333;
}

body {
    background: var(--bg);
    color: var(--text);
}